<!DOCTYPE html>
<html>
  <head>
    <title>Gradescope iCalendar</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
  </head>

  <script>
    function genlink() {
      let url = window.location.origin + "/gradescope.ics?";

      const formData = new FormData(document.getElementById("the-form"));
      for (var pair of formData.entries()) {
        url = url + pair[0] + "=" + encodeURIComponent(pair[1]) + "&";
      }

      let linkbox = document.getElementById("generated-link");
      linkbox.value = url;

      document.getElementById("link-container").hidden = false;
    }

    function copyURL(btn) {
      let copyText = document.getElementById("generated-link");

      copyText.select();
      copyText.setSelectionRange(0, 99999); // For mobile devices

      navigator.clipboard.writeText(copyText.value);

      var orig = btn.value;

      btn.value = "Copied!";
      setTimeout(() => (btn.value = orig), 1000);
    }
  </script>

  <body>
    <h1>Gradescope iCalendar</h1>
    <form action="gradescope.ics" method="get" id="the-form">
      <label>Email</label>
      <input type="email" name="email" placeholder="person@example.com" />
      <label>Password</label>
      <input type="password" name="pwd" placeholder="Password" />
      <label>Semester</label>
      <select name="semSeason">
        <option value="Fall">Fall</option>
        <option value="Spring">Spring</option>
        <option value="Summer">Summer</option>
      </select>
      <label>Year</label>
      <input type="number" name="semYear" placeholder="1970" />

      <br />

      <input type="submit" value="Submit" />
      <input type="button" value="Generate Link" onclick="genlink()" />

      <br />

      <div hidden id="link-container">
        <input id="generated-link"></a>
        <input
          type="button"
          value="Copy URL"
          id="copybtn"
          onclick="copyURL(this)"
        />
      </div>
    </form>
  </body>
</html>
